<h1>Listing parts</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= image_tag part.image.url(:medium) %></td>
        <td><%= part.description %></td>
        <td><%= part.user.email if part.user %></td>
        <td><%= link_to 'Show', part_path(part) %></td>
        <% if part.user == current_user %>
          <td><%= link_to 'Edit', edit_part_path(part) %></td>
          <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Part', new_part_path %>
<% end %>
