<%= link_to 'Back', parts_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @part.image.url(:medium) %>
			</div>
			<div class="panel-body">
				<p><%= @part.description %></p>
				<p><strong><%= @part.user.email if @part.user %></strong></p>

				<% if @part.user == current_user %>
					<%= link_to edit_part_path(@part) do %>
						<span class="glyphicon glyphicon-edit"></span>
						Edit
					<% end %>

			</div>
		</div>
	</div>
</div>